[Bb]in/
[Oo]bj/
[Ll]og/
[Bb]uild/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
.idea/
*.swp
.DS_Store
*.pdb
*.cache
publish/
PublishProfiles/
AppPackages/
BundleArtifacts/
*.appx
*.appxbundle
*.msix
*.msixbundle
*.msi
*.exe
*.dll
!Assets/**
