<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="QPARK Shot"
           Manufacturer="QPARK"
           Version="1.1.0"
           UpgradeCode="d2f6d6e9-3c2c-46de-9ea2-3f5a2cf4d5e1"
           Scope="perUser">

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="INSTALLFOLDER" Name="QPARK Shot">
        <Files Include="$(var.PublishDir)\**" />
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Component Id="ProgramMenuShortcut" Guid="2a8b3a31-1b6e-4c7e-9b6f-1c3a9d5b0e07">
        <Shortcut Id="StartShortcut"
                  Name="QPARK Shot"
                  Description="Capture & annotate screenshots"
                  Target="[INSTALLFOLDER]QPARKShot.exe"
                  WorkingDirectory="INSTALLFOLDER" />
        <RegistryValue Root="HKCU" Key="Software\QPARK\QPARKShot"
                       Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </StandardDirectory>

    <Feature Id="Main" Title="QPARK Shot" Level="1">
      <Files Directory="INSTALLFOLDER" Include="$(var.PublishDir)\**" />
      <ComponentRef Id="ProgramMenuShortcut" />
    </Feature>
  </Package>
</Wix>
